@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 100%;
    --foreground2: 225 22% 60%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 214, 89%, 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .gr1 {
    background: linear-gradient(#0B061A, #111016);
  }

  .gr2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(16, 28, 111, 0.40) 0%, rgba(16, 28, 111, 0.00) 100%);
    filter: blur(2px);
  }

  .gr3 {
    background: linear-gradient(91deg, #003066 10.57%, #1D0057 99.01%);
  }

  .gr4 {
    background: linear-gradient(90deg, rgba(14, 10, 119, 0.00) 0.5%, #0E0A77 20.5%, #183549 82.5%, rgba(24, 53, 73, 0.00) 99%);
  }


  /* Pill */
  .pill-r {
    border-radius: 10px;
  }

  .pill-bg {
    background: #0B061A;
  }


  .pill-border {
    background: linear-gradient(1deg, #251CA0 -9.37%, #0E2C63 81.16%, #999 148.87%);
    padding: 2px;
  }

  .pill-gr {
    background: linear-gradient(90deg, #0A131A 0%, #010C1E 100%);
  }

  /*End Pills */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply gr1 text-foreground bg-fixed;
  }
}

html,
body {
  height: 100%;
}
